.main-container {
  margin: 0;
  padding-bottom: 5rem;
}

.view {
  background-color: #fff;
}


.nav {
  background-color: #ffb72a;
  display: flex;
  padding: 1rem 0 1rem 5rem;

}

.nav-link {
  color: black;
  margin-left: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.main-logo {
  width: 11.75rem;
  margin-left: 5rem;
  margin-right: 10%;
}
