.user-row {
  margin: 0;
}

.user-col-left {
  margin-bottom: 2rem;
}

.info {
  font-weight: bold;
}

// .container {
//   padding-bottom: 10rem;
// }

.favorites-container {
  margin-top: 5rem;
}

.favorites-header {
  margin: 5% 45% 0 40%;
  justify-content: center;
}

.add-button, .remove-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-control {
  width: 24rem;
  display: flex;
  margin-bottom: 1rem;
}
.form-label {
  font-weight: bold;
}