.user-row {
  margin: 0;
}

.user-col-left {
  margin-bottom: 2rem;
}

.info {
  font-weight: bold;
}

.container {
  padding-bottom: 10rem;
}

.favorites-container {
  margin-top: 5rem;
}

.favorites-header {
  margin: 0 40% 2rem 40%;
  justify-content: center;
}

.add-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}