img {
  width: 15rem;
}

.movie-poster {
  margin-right: 7rem;
}

.movie-title {
  font-size: 28px;
  font-weight: bold;
}

.movie-description {
  line-height: 2rem;
  font-size: 20px;
}
.col {
  margin-top: 2rem;
}

.row {
  margin-top: 2rem;
}