// $theme-colors: (
//   "primary": #ffb72a
// )

.nav-link {
  color: black;
  margin-left: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.main-logo {
  width: 11.75rem;
  margin-left: 5rem;
  margin-right: 10%;
}

.main-view-nav {
  display: flex;
  margin-bottom: 5rem;
  //make nav span width of the screen
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
  background-color: #ffb72a;
  display: flex;
  padding: 1rem 0 1rem 5rem;
}
